.DisplayComment {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.DisplayComment .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DisplayComment .container .infoContainer {
  display: flex;
  align-items: center;
}

.DisplayComment .container .fullName {
  font-weight: 600;
}

.DisplayComment .container .fullName a {
  text-decoration: none;
  color: black;
}

.DisplayComment .container .timerEmoji {
  margin-left: 5px;
  font-size: 13px;
  color: #80808098;
}

.DisplayComment .container .postedTime {
  margin-left: 5px;
  font-size: 15px;
  color: #808080bf;
  font-style: italic;
}

.DisplayComment .comment {
  margin-top: 15px;
}

.DisplayComment .container .deleteButtonContainer {
  color: #fc7575e0;
  font-size: 0.5rem;
  background-color: #fcd8d8;
  padding: 5px 7px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms linear;
}

.DisplayComment .container .deleteButtonContainer:hover {
  color: red;
}
